.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.2s linear;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active {
  position: absolute;
  bottom: 0;
}
