// toasts
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.2s linear;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active {
  position: absolute;
  bottom: 0;
}

// slide-down
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.1s linear;
}

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

// fade / modal
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-active .modal-content,
.fade-leave-active .modal-content {
  transition: all 0.2s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-from .modal-content,
.fade-leave-to .modal-content {
  transform: translateY(-100px);
  opacity: 0;
}

.fade-enter-from .modal-content {
  transition-delay: 0.25s;
}
